<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aditya | Frontend Developer</title>
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">

</head>
<body>
    <div id="main" class="pattern-bg ">
    </div>

    <div id="page11">
        <div id="nav1">
            <a href="/">Index</a>
        </div>
        <div id="images">
            <h2>Hello!</h2>
            <div id="img">
                <!-- <img src="/images/IMG_20230515_095201_415.jpg" alt=""> -->
                <!-- <img src="/images/IMG_20230528_132045_099.webp" alt=""> -->
                <img src="/images/IMG_20230630_100028_963.jpg" alt="">
                <!-- <img src="/images/IMG_20230712_131042_390.jpg" alt=""> -->
            </div>
        </div>
    </div>
    <div id="page22">
        <div id="info">
           <div id="img2">
            <img src="https://imgs.search.brave.com/XIHseHR-Ol2giddHyPDQmxfWvqsdRjUC3fJ8ZtnrhVk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudGhlbm91bnBy/b2plY3QuY29tL3Bu/Zy8xMjkwMTI4LTIw/MC5wbmc" alt="">
           </div>
           <h2 id="brief">Full Stack Developer with expertise in
            JavaScript complemented by a solid grasp of UI/UX
            design principles. Skilled in creating user-friendly web
            applications, bridging the gap between development
            and design. Thrives in collaborative environments and
            committed to delivering seamless, user-centric digital
            experiences.
            </h2>
            <h2 id="Tech"><span>Tech stack & tools :</span> JavaScript, React.js/Next.js, WordPress, REST API, MERN, Figma</h2>
            <h2 id="Learning"><span>Learning : </span>Java</h2>


        </div>
        <h1>Subjects that keep me going</h1>
        <div id="second">
            <h1><span>||</span> HTML <span>|</span> </h1>
            <h1><span>|</span> CSS <span>|</span> </h1>
            <h1><span>|</span> JAVASCRIPT <span>|</span> </h1>
            <h1><span>|</span> MERN <span>|</span> </h1>
            <h1><span>|</span> JAVA <span>|</span> </h1>
            <h1><span>|</span> GSAP <span>|</span> </h1>
            <h1><span>|</span> FIGMA <span>|</span> </h1>
            <h1><span>|</span> TAILDWIND CSS <span>|</span> </h1>
            <h1><span>|</span> REACT/NEXT <span>|</span> </h1>
            <h1><span>|</span> HTML <span>|</span> </h1>
            <h1><span>|</span> CSS <span>|</span> </h1>
            <h1><span>|</span> JAVASCRIPT <span>|</span> </h1>
            <h1><span>|</span> MERN <span>|</span> </h1>
            <h1><span>|</span> JAVA <span>|</span> </h1>
            <h1><span>|</span> GSAP <span>|</span> </h1>
            <h1><span>|</span> FIGMA <span>|</span> </h1>
            <h1><span>|</span> TAILDWIND CSS <span>|</span> </h1>
            <h1><span>|</span> REACT/NEXT <span>|</span> </h1>
            <h1><span>|</span> HTML <span>|</span> </h1>
            <h1><span>|</span> CSS <span>|</span> </h1>
            <h1><span>|</span> JAVASCRIPT <span>|</span> </h1>
            <h1><span>|</span> MERN <span>|</span> </h1>
            <h1><span>|</span> JAVA <span>|</span> </h1>
            <h1><span>|</span> GSAP <span>|</span> </h1>
            <h1><span>|</span> FIGMA <span>|</span> </h1>
            <h1><span>|</span> TAILDWIND CSS <span>|</span> </h1>
            <h1><span>|</span> REACT/NEXT <span>|</span> </h1>
            <h1><span>|</span> HTML <span>|</span> </h1>
            <h1><span>|</span> CSS <span>|</span> </h1>
            <h1><span>|</span> JAVASCRIPT <span>|</span> </h1>
            <h1><span>|</span> MERN <span>|</span> </h1>
            <h1><span>|</span> JAVA <span>|</span> </h1>
            <h1><span>|</span> GSAP <span>|</span> </h1>
            <h1><span>|</span> FIGMA <span>|</span> </h1>
            <h1><span>|</span> TAILDWIND CSS <span>|</span> </h1>
            <h1><span>|</span> REACT/NEXT <span>|</span> </h1>
            <h1><span>|</span> HTML <span>|</span> </h1>
            <h1><span>|</span> CSS <span>|</span> </h1>
            <h1><span>|</span> JAVASCRIPT <span>|</span> </h1>
            <h1><span>|</span> MERN <span>|</span> </h1>
            <h1><span>|</span> JAVA <span>|</span> </h1>
            <h1><span>|</span> GSAP <span>|</span> </h1>
            <h1><span>|</span> FIGMA <span>|</span> </h1>
            <h1><span>|</span> TAILDWIND CSS <span>|</span> </h1>
            <h1><span>|</span> REACT/NEXT <span>|</span>  </h1>
            <h1><span>|</span> HTML <span>|</span> </h1>
            <h1><span>|</span> CSS <span>|</span> </h1>
            <h1><span>|</span> JAVASCRIPT <span>|</span> </h1>
            <h1><span>|</span> MERN <span>|</span> </h1>
            <h1><span>|</span> JAVA <span>|</span> </h1>
            <h1><span>|</span> GSAP <span>|</span> </h1>
            <h1><span>|</span> FIGMA <span>|</span> </h1>
            <h1><span>|</span> TAILDWIND CSS <span>|</span> </h1>
            <h1><span>|</span> REACT/NEXT <span>|</span>  </h1>
            <h1><span>|</span> HTML <span>|</span> </h1>
            <h1><span>|</span> CSS <span>|</span> </h1>
            <h1><span>|</span> JAVASCRIPT <span>|</span> </h1>
            <h1><span>|</span> MERN <span>|</span> </h1>
            <h1><span>|</span> JAVA <span>|</span> </h1>
            <h1><span>|</span> GSAP <span>|</span> </h1>
            <h1><span>|</span> FIGMA <span>|</span> </h1>
            <h1><span>|</span> TAILDWIND CSS <span>|</span> </h1>
            <h1><span>|</span> REACT/NEXT <span>||</span>  </h1>
        </div>
    </div>
     <div id="page33">
        <div id="third">
            <h1><span>||</span> HTML <span>|</span> </h1>
            <h1><span>|</span> CSS <span>|</span> </h1>
            <h1><span>|</span> JAVASCRIPT <span>|</span> </h1>
            <h1><span>|</span> MERN <span>|</span> </h1>
            <h1><span>|</span> JAVA <span>|</span> </h1>
            <h1><span>|</span> GSAP <span>|</span> </h1>
            <h1><span>|</span> FIGMA <span>|</span> </h1>
            <h1><span>|</span> TAILDWIND CSS <span>|</span> </h1>
            <h1><span>|</span> REACT/NEXT <span>|</span> </h1>
            <h1><span>|</span> HTML <span>|</span> </h1>
            <h1><span>|</span> CSS <span>|</span> </h1>
            <h1><span>|</span> JAVASCRIPT <span>|</span> </h1>
            <h1><span>|</span> MERN <span>|</span> </h1>
            <h1><span>|</span> JAVA <span>|</span> </h1>
            <h1><span>|</span> GSAP <span>|</span> </h1>
            <h1><span>|</span> FIGMA <span>|</span> </h1>
            <h1><span>|</span> TAILDWIND CSS <span>|</span> </h1>
            <h1><span>|</span> REACT/NEXT <span>|</span> </h1>
            <h1><span>|</span> HTML <span>|</span> </h1>
            <h1><span>|</span> CSS <span>|</span> </h1>
            <h1><span>|</span> JAVASCRIPT <span>|</span> </h1>
            <h1><span>|</span> MERN <span>|</span> </h1>
            <h1><span>|</span> JAVA <span>|</span> </h1>
            <h1><span>|</span> GSAP <span>|</span> </h1>
            <h1><span>|</span> FIGMA <span>|</span> </h1>
            <h1><span>|</span> TAILDWIND CSS <span>|</span> </h1>
            <h1><span>|</span> REACT/NEXT <span>|</span> </h1>
            <h1><span>|</span> HTML <span>|</span> </h1>
            <h1><span>|</span> CSS <span>|</span> </h1>
            <h1><span>|</span> JAVASCRIPT <span>|</span> </h1>
            <h1><span>|</span> MERN <span>|</span> </h1>
            <h1><span>|</span> JAVA <span>|</span> </h1>
            <h1><span>|</span> GSAP <span>|</span> </h1>
            <h1><span>|</span> FIGMA <span>|</span> </h1>
            <h1><span>|</span> TAILDWIND CSS <span>|</span> </h1>
            <h1><span>|</span> REACT/NEXT <span>|</span> </h1>
            <h1><span>|</span> HTML <span>|</span> </h1>
            <h1><span>|</span> CSS <span>|</span> </h1>
            <h1><span>|</span> JAVASCRIPT <span>|</span> </h1>
            <h1><span>|</span> MERN <span>|</span> </h1>
            <h1><span>|</span> JAVA <span>|</span> </h1>
            <h1><span>|</span> GSAP <span>|</span> </h1>
            <h1><span>|</span> FIGMA <span>|</span> </h1>
            <h1><span>|</span> TAILDWIND CSS <span>|</span> </h1>
            <h1><span>|</span> REACT/NEXT <span>|</span>  </h1>
            <h1><span>|</span> HTML <span>|</span> </h1>
            <h1><span>|</span> CSS <span>|</span> </h1>
            <h1><span>|</span> JAVASCRIPT <span>|</span> </h1>
            <h1><span>|</span> MERN <span>|</span> </h1>
            <h1><span>|</span> JAVA <span>|</span> </h1>
            <h1><span>|</span> GSAP <span>|</span> </h1>
            <h1><span>|</span> FIGMA <span>|</span> </h1>
            <h1><span>|</span> TAILDWIND CSS <span>|</span> </h1>
            <h1><span>|</span> REACT/NEXT <span>|</span>  </h1>
            <h1><span>|</span> HTML <span>|</span> </h1>
            <h1><span>|</span> CSS <span>|</span> </h1>
            <h1><span>|</span> JAVASCRIPT <span>|</span> </h1>
            <h1><span>|</span> MERN <span>|</span> </h1>
            <h1><span>|</span> JAVA <span>|</span> </h1>
            <h1><span>|</span> GSAP <span>|</span> </h1>
            <h1><span>|</span> FIGMA <span>|</span> </h1>
            <h1><span>|</span> TAILDWIND CSS <span>|</span> </h1>
            <h1><span>|</span> REACT/NEXT <span>||</span>  </h1>
        </div>
        <div id="envolope">
            <h2>Got an Intriguing Idea? Let's Build Together ⚒️</h2>
            <a href="mailto:shakyaaditya469@gmail.com"><img src="/images/Screenshot 2023-11-24 123144.png" alt=""></a>
        </div>
        <div id="social">
            <div id="name">
                <h2>©️2023 Aditya Shakya</h2>
            </div>
            <div id="details">
                <a href="mailto:shakyaaditya469@gmail.com">MAIL</a>
                <a href="https://twitter.com/_addyshakya">TWITTER</a>
                <a href="https://www.linkedin.com/in/aditya-shakya-937157215/">LINKEDIN</a>
            </div>
        </div>
    </div> 

    <script src="https://unpkg.com/gsap@3.9.0/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- Include GSAP library -->
    <script src="https://unpkg.com/gsap@3.9.0/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1/bundled/lenis.min.js"></script>
    <script src="/javascripts/smooth.js"></script>
</body>
</html>