<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aditya | Frontend Developer</title>
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">

</head>
<body>
    <div id="main" class="pattern-bg ">
    </div>

    <div id="page111">
        <div id="nav1">
            <a href="/"><img src="/images/back.png" alt=""></a>
        </div>
        <div id="images1">
           <img src="/images/Screenshot 2023-11-22 220200.png" alt="">
        </div>
        <div id="link">
            <a href="https://addyshakya.github.io/Zelt/"><h3>Link</h3></a>
        </div>
        <div id="social">
            <div id="name">
                <h2>©️2023 Aditya Shakya</h2>
            </div>
            <div id="details">
                <a href="mailto:shakyaaditya469@gmail.com">MAIL</a>
                <a href="https://twitter.com/_addyshakya">TWITTER</a>
                <a href="https://www.linkedin.com/in/aditya-shakya-937157215/">LINKEDIN</a>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/gsap@3.9.0/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- Include GSAP library -->
    <script src="https://unpkg.com/gsap@3.9.0/dist/gsap.min.js"></script>

</body>
</html>